.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
  }

  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.graph-red {
  border-width: 5px;
  border-style: solid;
  padding: 40px;
  background-color: red;
  border-radius: 25px;
  margin: 10px;
}
.graph-amber {
  border-width: 5px;
  border-style: solid;
  padding: 40px;
  background-color: #ff9900;
  border-radius: 25px;
  margin: 10px;
}
.graph-green {
  border-width: 5px;
  border-style: solid;
  padding: 40px;
  background-color: #a7a4a4;
  border-radius: 25px;
  margin: 10px;
}

.service-red {
  background-color: red;
  margin: 10px;
}
.service-amber {
  background-color: #ff9900;
  margin: 10px;
}
.service-green {
  background-color: #a7a4a4;
  margin: 10px;
}

.container-size {
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  border-radius: 25px;
}

.container-title {
  font-size: 70px;
}

  .title {
    overflow: hidden;
  }

  .blink {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0.0;
    }
  }